/*css/style.css */

.gallery {
    width: 250px;
    height: 250px;
    position: relative;
    overflow: hidden;
    border: 2px solid black;
    margin: 50px auto;
}

.img-box img {
    width: 50%;
    box-sizing: border-box;
}

.btn {
    border: none;
    outline: none;
    background: #888;
    padding: 10px 30px;
    font-size: 20px;
    color: #ddd;
    cursor: pointer;
    margin: 10px auto;
}

.btn:hover {
    background: #111;
}